process.executor = 'local'
process.cpus = 20
process.memory = '120GB'

// Activation de l'utilisation de Docker pour exécuter les tâches
executor.docker.enabled = true

// Enable conda environment
conda.enabled = true

// Report, timeline, trace, and DAG configuration
params {
    logDir = 'logs'  // Définit le dossier de logs relatif au répertoire de travail actuel
    reportFile = "${params.logDir}/report.html"
    timelineFile = "${params.logDir}/timeline.html"
    traceFile = "${params.logDir}/trace.txt"
    dagFile = "${params.logDir}/dag.dot"
}

timeline {
    enabled = true
    file = params.timelineFile
    overwrite = true
}

report {
    enabled = true
    file = params.reportFile
    overwrite = true
}

trace {
    enabled = true
    file = params.traceFile
    overwrite = true
}

dag {
    enabled = true
    file = params.dagFile
    overwrite = true
}

// Configuration du fichier nextflow.log
workDir = "${params.logDir}/work"
